/* Configurações gerais */
body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}
body{
  font-family: "nunito" Arial, Helvetica, sans-serif;
  color: #222222;
}

a{
  text-decoration: none;
}
* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

@font-face {
  font-family: LetterGothicStd;
  src: url(/css/font/LetterGothicStd.otf);
}

@font-face {
  font-family: LetterGothicStd-bold;
  src: url(/css/font/LetterGothicStd-BoldSlanted.otf);
}
/* Menu/intro */

.img-bg{
  background: url(../img/1.png) no-repeat;
  background-size: cover;
  background-position: bottom;
  color: white;
  height: 600px;
}
.menu ul{
  display: flex;
  flex-wrap: wrap;
  max-width: 960px;
  margin: 0 auto;
  justify-content: center;
  padding: 20px;
}
.menu ul li{
  margin-right: 15px;
}
.menu ul li a{
  font-family: "nunito" Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.2em;
}
.menu ul li a:hover{
  color: #903BF3;
  cursor: pointer;
}

.intro-menu{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 960px;
  margin:60px auto;
  justify-content: center;
  text-align: center;

}

#title-name{
  font-family: LetterGothicStd-bold, Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  color: #903BF3;
  margin-bottom: 10px;
  text-align: center;
}

.animacao-seta{
  width: 30px;
  height: 10px;
  margin: 60px auto;
  animation:seta 1s infinite ;
}

@keyframes seta {
  0%, 100% {
    margin: 60px auto;
  }
  50% {
    margin: 70px auto;
  }
}

.intro-menu span{
  color: #04D361;
}

.intro-menu p{
  font-family: "nunito", Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  margin-bottom: 10px;
}

.link{
  color: white;
}

.link:hover{
  color: #903BF3;
}

.intro-menu button{
  font-family: "nunito", Arial, Helvetica, sans-serif;
  width: 220px;
  height: 40px;
  margin:80px auto 0 auto;
  background: #903BF3;
  border: none;
  outline: none;
  border-radius: 20px;
}

.div-btn{
  width: 220px;
  height: 40px;
  margin:0px auto 60px auto;
}

.intro-menu button:hover{
  background: #222222;
  color: #903BF3;
  cursor: pointer;
  border: 1px solid #903BF3;
 
}
.intro-menu button a{
  color: white;
}

/* Sobre Mim */
.sobre-bg{
  background: #222222;
  width: 100%;
}
.sobre-bg span{
  color: #04D361;
}
.sobre{
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}
.sobre img {
  width: 200px;
  border-radius: 10px;
  border-bottom: 6px solid #903BF3;
}
.txt-sobre{
  max-width: 600px;
  color: white;
}
h1{
  font-family: LetterGothicStd-bold, Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  color: #903BF3;
  margin-bottom: 10px;
  text-align: center;
  padding-top: 20px;
}
.txt-sobre h2{
  font-family: LetterGothicStd-bold, Arial, Helvetica, sans-serif;
  font-size: 1.8em;
  color: white;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}
.txt-sobre p{
  font-family: "nunito", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: white;
  margin-bottom: 10px;
  text-align: justify;
  line-height: 1.6;
}
.valores-sobre{
  max-width: 960px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 10px;
}

.valores-sobre img{
  margin: 10px auto;
  width: 30px;
}

.valores-sobre p{
  font-family: "nunito", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: white;
  margin-bottom: 10px;
  text-align: justify;
  line-height: 1.6;
}

/* Skills */

.skills{
  background: #121214;
  width: 100%;
}
.skills span{
  color: #04D361;
}

.container-skills{
  max-width: 960px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container-skills img{
  width: 190px;
  height: 150px;
  border-bottom: 6px solid #903BF3;
  border-radius: 20px;
}
.container-skills p {
  font-family: "nunito", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: white;
  margin: 10px 0 0 0;
  text-align: center;
  line-height: 1;
}

.skills h2{
  font-family: LetterGothicStd-bold, Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  color: #903BF3;
  margin: 20px;
  text-align: center;
}

.conhecimentos{
  max-width: 960px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.conhecimentos img{
  margin: 10px auto;
  width: 30px;
}

.conhecimentos p{
  font-family: "nunito", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: white;
  margin: 6px 0;
  text-align: center;
  line-height: 1.3;
}

/* Projetos */

.projetos-bg{
  background: #222222;
  width: 100%;
}

.projetos-bg span{
  color: #04D361;
}

.projetos{
  max-width: 960px;
  margin: 20px auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.projetos img{
  width: 480px;
  height: 280px;
}

.projeto p{
  font-family: "nunito", Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: white;
  margin: 6px 0;
  padding: 10px;
  text-align: center;
  line-height: 1.5;
  border-bottom: 2px  solid #903BF3;
  border-top: 2px  solid #903BF3;
}

.projeto h3{
  font-family: "nunito", Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  color: #04D361;
  padding: 10px;
  text-align: center;
  line-height: 1.3;
  font-weight: bold;
}

.projeto{
  max-width: 350px ;
  display: flex;
  flex-direction: column;
}

.projeto a{
  text-align: none;
  text-align: center;
}
.projeto button{
  font-family: "nunito", Arial, Helvetica, sans-serif;
  width: 180px;
  height: 30px;
  margin:10px auto 0 auto;
  background: #903BF3;
  border: none;
  outline: none;
  border-radius: 20px;
  color: white;
}

.projeto button:hover{
  background: #222222;
  cursor: pointer;
  border: 1px solid #903BF3;
 
}

#span-white{
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 1;
}
/* Contatos */
.contato-bg {
  background: #121214;
  width: 100%;
}

.contato-bg span{
  color: #04D361;
}

.contato-bg h3{
  font-family: "nunito", Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  color: white;
  padding: 10px;
  text-align: center;
  line-height: 1.3;
  font-weight: bold;
}
.contatos-simples{
  display: none;
}
.contatos{
  max-width: 960px;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 20px;
}

.contatos img{
  margin-top: 20px;
  width: 70px;
  height: 80px;
  margin: 0 auto;
}

.contatos img:hover{
  border: 1px solid #903BF3;
  cursor: pointer;
}
.contatos a{
  font-family: "nunito", Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: white;
  padding: 10px;
  text-align: center;
  line-height: 1.5;
}
.contatos a:hover{
  font-weight: bold;
}
#whatssapp{
  color: #04D361;
  text-align: center;
  margin-left: 40px;
}

/* Copy */

.copy{
  background: #222222;
  width: 100%;
}

.copy p{
  color: white;
  font-family: "nunito", Arial, Helvetica, sans-serif;
  padding: 10px;
  text-align: center;
}

#style-copy{
  color: #04D361;
  font-weight: bold;
}
/* Responsive */



/* Smartphone  */
@media screen and (max-width: 580px) 
{
  /* Intro e menu */
  #title-name{
    font-size: 1em;
  }
/* Sobre mim */
.txt-sobre{
  max-width: 450px;
}

.txt-sobre p{
  text-align: center;
}

.valores-sobre img{
  margin: 0px auto;
}

  /* Skills */

  .container-skills{
    width: 160px;
    flex-wrap:wrap;
    flex-direction: column;
  }

  .container-skills img{
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 0 auto;
  }

  /* Projetos */
}


/* Tablet tela retrato */
@media screen and (max-width: 768px) 
{

  /* Intro e menu */


  /* Sobre mim */

  .sobre{
    max-width: 620px;
  }

  .sobre img {
    margin-bottom: 20px;
  }

  /* Skills  */
  .container-skills{
    max-width: 620px;
  }
/* Contato*/
.contatos{
  max-width: 350px;
}
.contatos img{
  width: 70px;
  height: 60px;
  padding-left: 20px;
}
.contatos img:hover{
  padding: 10px;
}

.contatos button:a{
  color: #903BF3;
  font-weight:normal;
}

}

/* Tablet tela paisagem e alguns monitores mais antigos */
@media screen and (max-width: 960px) 
{
  
}